<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" sizes="32x32">


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


    
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Document</title>
</head>
<body>
    <!-- Nav -->
    <nav>
        <div class="nav-content">
          <div class="toggle-btn">
            <i class='bx bx-plus'></i>
          </div>
          <span style="--i:1;">
            <a href="#"><i class='bx bxs-home'></i></a>
          </span>
          <span style="--i:2;">
            <a href="#"><i class='bx bxs-camera'></i></a>
          </span>
          <span style="--i:3;">
            <a href="#"><i class='bx bxs-alarm' ></i></a>
          </span>
          <span style="--i:4;">
            <a href="#"><i class='bx bxs-map' ></i></a>
          </span>
          <span style="--i:5;">
            <a href="#"><i class='bx bxs-cog' ></i></a>
          </span>
        </div>
      </nav>



    <!-- MARQUEE -->
    <div class="div1">
        <img src="../public/images/logo.png" alt="">
        <div class="dv1">
          <h1>SHOE COMPANY</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eligendi laboriosam beatae a voluptatibus, at ea nulla dolores, in hic corrupti natus inventore delectus impedit soluta deserunt, unde dolor alias recusandae? Labore, distinctio velit.</p>
      </div>
    </div>

    <!-- VIDEO 1 -->
    <section id="section1">
        <video src="../public/videos/vid1.mp4" loop autoplay muted></video>
    </section>

    <!-- Scetion 1.5 -->
    <header class="site-header">
      <div class="site-header-mask">
        <h1 class="site-title" style="color: black;">GOOD MORNING</h1>
      </div>
    </header>

    <section id="section2">
        <div class="sect2div1">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 divwithimgsect2">
                    <img src="../public/images/shoeVR.gif" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 divwithoutimgsect2">
                    <h1>SHOES WITH CHARACTER</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum autem minus sapiente distinctio vitae quas dolor quia ipsam a incidunt. Nulla accusamus distinctio porro soluta nobis deleniti at sunt inventore placeat! Harum, dolor autem fuga aspernatur ab minus accusamus deleniti, nesciunt magni tenetur laboriosam itaque quam delectus officia, commodi quis? Rem fugit aspernatur, voluptate iure excepturi ipsa! Accusantium dignissimos quaerat suscipit omnis dolorem, voluptas aperiam est, nostrum alias doloribus, cum enim repudiandae. Libero laboriosam, earum nostrum vel, et eveniet labore dignissimos velit nemo doloremque tempore illo tempora hic provident voluptatem blanditiis aperiam ad adipisci culpa inventore deleniti eius ipsam? Velit.</p>
                </div>
            </div>
        </div>
    </section>
    

    <section id="section3">
        <div class="sect3div1">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 divwithoutvideosect3">
                    <h1>SHOES WITH CHARACTER</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea quasi asperiores nostrum assumenda eveniet deserunt similique iusto voluptatibus, illum exercitationem cum expedita architecto, accusamus amet ut voluptates qui eum maiores. Amet explicabo aliquam nam nemo placeat rem omnis enim impedit incidunt? Nemo animi libero, rem possimus tempore assumenda quisquam dolores officia cupiditate repellat at recusandae, veritatis, quibusdam sunt exercitationem fuga perspiciatis doloribus? Perspiciatis excepturi cupiditate numquam consectetur deleniti voluptatum debitis hic iste accusantium aliquam?</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 divwithvideosect3">
                    <video src="../public/videos/vid2.mp4" loop autoplay muted></video>
                </div>
            </div>
        </div>
    </section>

    
    <section id="section4">
        <div class="sect4div1">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 divwithvideosect4">
                    <video src="../public/videos/vid3.mp4" loop autoplay muted></video>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 divwithoutvideosect4">
                    <h1>SHOES WITH CHARACTER</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum autem minus sapiente distinctio vitae quas dolor quia ipsam a incidunt. Nulla accusamus distinctio porro soluta nobis deleniti at sunt inventore placeat! Harum, dolor autem fuga aspernatur ab minus accusamus deleniti, nesciunt magni tenetur laboriosam itaque quam delectus officia, commodi quis? Rem fugit aspernatur, voluptate iure excepturi ipsa! Accusantium dignissimos quaerat suscipit omnis dolorem, voluptas aperiam est, nostrum alias doloribus, cum enim repudiandae. Libero laboriosam, earum nostrum vel, et eveniet labore dignissimos velit nemo doloremque tempore illo tempora hic provident voluptatem blanditiis aperiam ad adipisci culpa inventore deleniti eius ipsam? Velit.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="tranding">
        <div class="container">
            <h1 style="font-weight: bold;" class="text-center">SHOE GALLERY</h1>
        </div>
        <div class="container">
          <div class="swiper tranding-slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe1.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$20</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 1</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe2.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$20</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 2</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe3.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$40</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 3</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe4.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$15</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 4</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe5.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$15</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 5</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe6.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$20</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 6</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="../public/images/shoe7.png" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="food-price">$8</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="food-name">
                      <a href="" class="linkButton">Shoe 7</a>
                    </h2>
                    <h3 class="food-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
            </div>
  
            <div class="tranding-slider-control">
              <div class="swiper-button-prev slider-arrow">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>
              <div class="swiper-button-next slider-arrow">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </div>
              <div class="swiper-pagination"></div>
            </div>
  
          </div>
        </div>
    </section>
      
    
    <section id="section5">
      <div class="outCont">
        <div class="containe">
            <div id="slide">
                <div class="item" style="background-image: url(../public/images/1.jpg);">
                    <div class="content">
                        <div class="name">LUNDEV</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(../public/images/2.jpg);">
                    <div class="content">
                        <div class="name">LUNDEV</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(../public/images/3.jpg);">
                    <div class="content">
                        <div class="name">LUNDEV</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(../public/images/4.jpg);">
                    <div class="content">
                        <div class="name">LUNDEV</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(../public/images/5.jpg);">
                    <div class="content">
                        <div class="name">LUNDEV</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(../public/images/6.jpg);">
                    <div class="content">
                        <div class="name">LUNDEV</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                <button id="next"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div class="extra2"></div>
    </section>
      
      
      






    <!-- script -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../public/js/landing.js"></script>
</body>
</html>